USE [QLCF]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] NOT NULL,
	[SoBan] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK__BAN__4033B61AC7435CC7] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBAN]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAN](
	[MAKH] [nvarchar](20) NOT NULL,
	[MABAN] [int] NOT NULL,
 CONSTRAINT [PK__CHITIETB__D43C624DBEC43AA5] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETCUNGCAP]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCUNGCAP](
	[MANCC] [nvarchar](50) NOT NULL,
	[MAHH] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MANCC] [nvarchar](50) NOT NULL,
	[MAHH] [nvarchar](50) NOT NULL,
	[MAHDDH] [nvarchar](50) NOT NULL,
	[NGAYGIAO] [datetime] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[MAHDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [int] NOT NULL,
	[MALH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK__CTHOADON__A63CD4DA33DC00C7] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MAHH] [nvarchar](50) NOT NULL,
	[MAPN] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC,
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MAHDDH] [nvarchar](50) NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYLAP] [datetime] NULL,
 CONSTRAINT [PK__DONDATHA__1A700B778C737B42] PRIMARY KEY CLUSTERED 
(
	[MAHDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [nvarchar](50) NOT NULL,
	[TENHH] [nvarchar](100) NULL,
	[GIATIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MABAN] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[TONGTIEN] [int] NULL,
	[NGAYLAPHD] [datetime] NULL,
	[KHUYENMAI] [int] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK__HOADON__603F20CE4A0CBF01] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALH] [int] NOT NULL,
	[TENLH] [nvarchar](50) NULL,
	[GIATHANHPHAM] [int] NULL,
 CONSTRAINT [PK__LOAIHANG__603F414DB7E67E6A] PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](50) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [int] NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[NGAYVAOLAM] [datetime] NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114549BA681] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNH]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNH](
	[MAPN] [nvarchar](50) NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYNHAP] [char](1) NULL,
 CONSTRAINT [PK__PHIEUNH__603F61CE4370C17B] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/05/2022 00:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[LOAITK] [nvarchar](10) NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK__TAIKHOAN__8C5E61058D3FB9ED] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([MABAN], [SoBan], [TinhTrang]) VALUES (1, N'2', 0)
INSERT [dbo].[BAN] ([MABAN], [SoBan], [TinhTrang]) VALUES (2, N'2', 0)
INSERT [dbo].[BAN] ([MABAN], [SoBan], [TinhTrang]) VALUES (3, N'3', 0)
GO
INSERT [dbo].[CTHOADON] ([MAHD], [MALH], [SOLUONG]) VALUES (26, 1, 1)
INSERT [dbo].[CTHOADON] ([MAHD], [MALH], [SOLUONG]) VALUES (26, 3, 3)
INSERT [dbo].[CTHOADON] ([MAHD], [MALH], [SOLUONG]) VALUES (27, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MANV], [TONGTIEN], [NGAYLAPHD], [KHUYENMAI], [TinhTrang]) VALUES (26, 1, 1, 180000, CAST(N'2018-02-19T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MANV], [TONGTIEN], [NGAYLAPHD], [KHUYENMAI], [TinhTrang]) VALUES (27, 3, 2, 45000, CAST(N'2018-02-19T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MANV], [TONGTIEN], [NGAYLAPHD], [KHUYENMAI], [TinhTrang]) VALUES (28, 2, 3, 100000, CAST(N'2018-02-19T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[LOAIHANG] ([MALH], [TENLH], [GIATHANHPHAM]) VALUES (1, N'Cafe', 15000)
INSERT [dbo].[LOAIHANG] ([MALH], [TENLH], [GIATHANHPHAM]) VALUES (2, N'Bạc xỉu', 15000)
INSERT [dbo].[LOAIHANG] ([MALH], [TENLH], [GIATHANHPHAM]) VALUES (3, N'Sting', 10000)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [CHUCVU], [NGAYVAOLAM]) VALUES (1, N'admin', 1, 1, N'Quản lý', CAST(N'2022-06-12T00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [CHUCVU], [NGAYVAOLAM]) VALUES (2, N'Nguyễn Văn Hiệp', 1, 1, N'Quản lý', CAST(N'2018-12-20T00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [CHUCVU], [NGAYVAOLAM]) VALUES (3, N'Lương Thế Lực', 1, 1, N'Nhân viên', CAST(N'2019-07-12T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MaTK], [TAIKHOAN], [MATKHAU], [LOAITK], [MANV]) VALUES (1, N'admin', N'1', N'1', 1)
INSERT [dbo].[TAIKHOAN] ([MaTK], [TAIKHOAN], [MATKHAU], [LOAITK], [MANV]) VALUES (3, N'hiep', N'1', N'2', 1)
INSERT [dbo].[TAIKHOAN] ([MaTK], [TAIKHOAN], [MATKHAU], [LOAITK], [MANV]) VALUES (4, N'Nhat', N'12', N'2', 4)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
ALTER TABLE [dbo].[CHITIETBAN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETBA__MABAN__403A8C7D] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[CHITIETBAN] CHECK CONSTRAINT [FK__CHITIETBA__MABAN__403A8C7D]
GO
ALTER TABLE [dbo].[CHITIETBAN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETBAN__MAKH__3F466844] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETBAN] CHECK CONSTRAINT [FK__CHITIETBAN__MAKH__3F466844]
GO
ALTER TABLE [dbo].[CHITIETCUNGCAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[CHITIETCUNGCAP]  WITH CHECK ADD FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK__CTDDH__MAHDDH__440B1D61] FOREIGN KEY([MAHDDH])
REFERENCES [dbo].[DONDATHANG] ([MAHDDH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK__CTDDH__MAHDDH__440B1D61]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CTHOADON__MAHD__4316F928] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK__CTHOADON__MAHD__4316F928]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CTHOADON__MALH__4222D4EF] FOREIGN KEY([MALH])
REFERENCES [dbo].[LOAIHANG] ([MALH])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK__CTHOADON__MALH__4222D4EF]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK__CTPHIEUNHA__MAPN__49C3F6B7] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNH] ([MAPN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK__CTPHIEUNHA__MAPN__49C3F6B7]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK__DONDATHANG__MANV__4CA06362] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK__DONDATHANG__MANV__4CA06362]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MABAN__412EB0B6] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MABAN__412EB0B6]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MANV__4AB81AF0] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MANV__4AB81AF0]
GO
ALTER TABLE [dbo].[PHIEUNH]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUNH__MANV__4BAC3F29] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNH] CHECK CONSTRAINT [FK__PHIEUNH__MANV__4BAC3F29]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__MANV__4D94879B] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__MANV__4D94879B]
GO
